body{
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1129&q=80); 
    background-repeat: no-repeat; 
    background-size: cover;
}

h1{
    background-color: grey;
    padding: 20px;
    color: white;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

div {
    background-color: silver;
    border: 2px solid black;
    padding: 20px; 
    text-align: right
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

footer {
    border: 1px solid blue;
    padding: 10px;
    margin: 20px;
    text-align: right;
}

.highlight {
    font-size: 25px;
    background-color: red;
    color:white;

}