<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Formularz edytowania wpisu</h2>
    <form method="POST">
        <p>
            <label>Tytul</label><br />
            <input type="text" name="tytul" value="<%= tytul %>"/>
        </p>
        <p>
            <label>Treśc</label><br />
            <textarea name="tresc"><%= tresc %></textarea>
        </p>
        <p>
            <button type="submit">Zapisz dane</button>
        </p>
    </form>
</body>

</html>